extends ../layouts/article
block content

  h1= article.title
  div!= article.body
  
  div
    label(for="InputString")
      | Enter a string to calculate it's length
      span#Results.hide &nbsp;(
        strong#StringLength
        | )
    textarea(id="InputString" rows="5")
  div
    small This utility uses only front end JavaScript no data is sent to the server.

  script(src='dist/js/tools/strlen.js')

