nav#MainNav
    a.logo(href="/")
        i.fa.fa-code
        |&nbsp;Jason Snider

    button#ShowMainNav
        i.fas.fa-bars.fa-2x
        span.sr-only Menu

    ul
        li
            a#ToAbout(href='#About') About Me
        li
            a(href='articles') Blog
        li
            a(href='games') Games
        li
            a(href='tools') Tools
        li
            a(href='contact') Contact