section#SocialMedia
    a(href="https://www.linkedin.com/in/jdsnider")
        i.fab.fa-linkedin
            span.sr-only LinkedIn
    a(href="https://github.com/jasonsnider")
        i.fab.fa-github
            span.sr-only GitHub
    a(href="https://twitter.com/jason_snider")
        i.fab.fa-twitter
            span.sr-only Twitter