section#SocialMedia
    a(href="https://www.linkedin.com/in/jdsnider")
        i.fab.fa-linkedin
    a(href="https://github.com/jasonsnider")
        i.fab.fa-github
    a(href="https://twitter.com/jason_snider")
        i.fab.fa-twitter