html
  head

    if(meta)
      title= meta.title

      if(meta.description)
        meta(name='meta' description=meta.description)

    include ../includes/criticalCSS

    base(href='/')
    link(rel='preload' href='fonts/fonts.css' as='style')
    link(rel='preload' href='fontawesome/css/all.min.css' as='style')
    link(rel='preload' href='dist/css/main.min.css' as='style')
    link(rel='preload' href='/highlight/styles/atom-one-dark.css' as='style')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    noscript(id="deferred-styles")
      link(rel='stylesheet' href='fonts/fonts.css' type='text/css')
      link(rel='stylesheet' href='fontawesome/css/all.min.css')
      link(rel='stylesheet' href='dist/css/main.min.css')
      link(rel='stylesheet' href='/highlight/styles/atom-one-dark.css')
    header
      include ../includes/nav
    main

      block content

      include ../includes/social
      include ../includes/footer
  
    script.
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);

    script(src='highlight/highlight.pack.js' async)
    script(src='dist/js/article.min.js' async)