html
  head

    if(meta)
      title= meta.title

      if(meta.description)
        meta(name='meta' description=meta.description)

    base(href='/')
    link(href='fonts/fonts.css', type='text/css', rel='stylesheet')
    link(href='fontawesome/css/all.min.css', type='text/css', rel='stylesheet')
    link(href='dist/css/main.min.css', type='text/css', rel='stylesheet')
    link(rel='stylesheet' href='/highlight/styles/atom-one-dark.css')

    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    header
      include ../includes/nav
    main

      block content

      include ../includes/social
      include ../includes/footer

    script(src='highlight/highlight.pack.js')
    script(src='dist/js/article.min.js')
