html(lang="en")
  head

    if(meta)
      title= meta.title

      if(meta.description)
        title= meta.description
    style.
      body{display:none;}
    base(href='/')
    link(rel='preload' href='fonts/fonts.css' as='style')
    link(rel='preload' href='fontawesome/css/all.min.css' as='style')
    link(rel='preload' href='dist/css/home-page.min.css' as='style')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    noscript(id="deferred-styles")
      link(rel='stylesheet' href='fonts/fonts.css' type='text/css')
      link(rel='stylesheet' href='fontawesome/css/all.min.css')
      link(rel='stylesheet' href='dist/css/home-page.min.css')
    header.cover
      include includes/nav

      h1  Jason Snider
        .tagline  Builder of Things, Doer of Stuff

      .more
        a#ToAboutNext(href='#About')
          i.fal.fa-chevron-down
    main
      section#About
        h2 Hello, I'm Jason Snider
        p
          img.avatar(alt='64x64', src='/img/b449cfaa4cab48910ad8c0d9fdb812d0-128.jpg' height='128px' width='128px')
          | Jason Snider is a full stack web and hybrid mobile application developer, 
          | indie game dev, dev bootcamp instructor, systems architect, Linux aficionado,
          | open source advocate, impromptu DBA and security enthusiast with a sincere 
          | passion for building and advancing knowledge while resolving complex problems  
          | and business challenges through technical innovation.

      section#Projects
        h2 Things and Stuff
        P A high level overview of the things I build and the stuff I do.

        h3 Back Office
        p Extensive experience in designing and developing event, geo, and data driven CRM, CMS, ERP, BI, IO, and 
          | other miscellaneous back office systems.

        h3 Frontend Development
        p Extensive experience with a number of front end technologies including but not limited to HTML5, CSS3, JavaScript, jQuery, 
          | Angular, Ionic, Rxjs, Gulp, webpack Less, Sass, Material Design, Bootstrap, Vanilla JS, Ajax, API consumption.

        h3 Backend Development
        p Extensive experience with a number of front end technologies including but not limited to Linux, Apache, MySQL, 
          | MongoDB, Postgre, PHP, Python, BASH, NodeJS, Express, CakePHP, API development.

        h3 Mobile and Indie Game Development
        p Experience building building progressive web and hybrid mobile applications that are inclusive of indie games
          | and general data management. Experience publishing to Google Play and Apple App store.

        h3 Portal Development
        p Experience in designing and developing portal driven monolithic systems. These systems provide 
          | a primary personal branding and career coaching platform that provides portals for students, instructors, 
          | administration, and white labeling for third party organizations.

        h3 Social Media
        p Experience in designing and developing social media platforms as well as integrating social features into 
          | existing platforms for which social aspects are not the primary concern of the system.

        h3 Systems Architect
        p Experience designing and implementing the overall technical architecture for a number of cloud based systems.

        h3 Open Source
        p Has contributed to and released a number of open source projects.

        h3 Security
        p Security enthusiast and hobbyist. In additional to concentrating my graduate work on InfoSec, I have listened
          | nearly every episode of Security Now and strive to design and build secure solutions.

        h3 Instructor, Mentor and Leader
        p Experience designing and teaching development bootcamps, mentoring junior developers, and leading development 
          | teams and efforts.
        br
        br
        div.text-center
          a.btn(href="resume") Resume

      include includes/social
      include includes/footer

    include ./includes/deferJS
    script(src='dist/js/home-page.min.js')
