@import 'main.scss';

.cover {
  background: linear-gradient(to top left, #222 25%, #777 50%, #222 75%, #777 100%);
  background-size: 600% 600%;
  height: 100%;

  animation: LinearEffect 40s ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
}

.cover h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  top: calc(50vh - 2rem);
  position: absolute;
  right: 0;
  left: 0;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.cover div.tagline {
  //position: absolute;
  font-size: 1rem;
  //top: calc(50vh + 1rem);
  //right: 0;
  //left: 0;
  text-align: center;
  color: #fff;
  letter-spacing: .2rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-device-width : 0) and (orientation : landscape) {
  .cover h1 {
    font-size: 4rem;
    top: calc(50vh - 4rem);
  }

  .cover div.tagline {
    font-size: 2rem;
    top: calc(50vh + 2rem);
  }
}

.cover div.more {
  position: absolute;
  bottom: 18px;
  right: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 5rem;
  letter-spacing: .2rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.cover .more a,
.cover .more a:link,
.cover .more a:visited{
  color: #fff;
}

main {
  margin: 0 auto;
}


#About img{
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
}

#Project ul{
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}


#Project ul li{
  display: block;
  padding: 1rem 0 4rem;
  box-shadow: inset 0 0 10px #000000;
  margin: .5rem;
  background: linear-gradient(to top left, #222 0%, #777 100%);
  position: relative;
}

/*
#Project ul li div.cell{
background: red;
}
*/

#Project ul li div h3{
  padding: 0;
  margin: 0;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#Project ul li,
#Project ul li div * {
  color: #fff;
}

#Project ul li div .project-logos {
  text-align: center;
  font-size: 1.4rem;
  padding: .3rem 0 .7rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#Project ul li div p {
  padding: .7rem 1rem 0;
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#Project ul li div.project-buttons a,
#Project ul li div.project-buttons a:link,
#Project ul li div.project-buttons a:visited {
  padding: .19rem 1rem.19rem 1rem;
  /*font-size: 2rem;*/
  font-size: 1.4rem;
  text-decoration: none;
  text-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  float: left;
  width: 33%;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  /**overflow: hidden;
  text-overflow: ellipsis;*/
}

#Project ul li div div.project-buttons a:hover {
  border-top: 2px solid#fff;
  background: rgba(255,255,255, 0.1);
}

#Project ul li div.project-buttons {
  line-height: 3rem;
  bottom: 0;
  @include clearfix;
  display: block;
  width: 100%;
  position: absolute;
}

@media (min-width : 768px) {

  #Project ul{
    display: grid;
  }

  #Project ul li{
    grid-row: 1;
    display: inline;
  }

  #Project ul li:nth-child(3),
  #Project ul li:nth-child(4){
    grid-row: 2;
  }

  #Project ul li:nth-child(5),
  #Project ul li:nth-child(6){
    grid-row: 3;
  }

  #Project ul li:nth-child(7),
  #Project ul li:nth-child(8){
    grid-row: 4;
  }

  #Project ul li div div.project-buttons a,
  #Project ul li div div.project-buttons a:link,
  #Project ul li div div.project-buttons a:visited {
    float: none;
  }

  #Project ul li div div.project-buttons a:nth-child(2) {
    float: none;
  }

}

@media only screen and (min-width : 600px) {
  .cover h1 {
    font-size: 3rem;
    position: absolute;
    top: calc(50vh - 3rem);
    letter-spacing: .9rem;
  }

  .cover div.tagline {
    top: calc(50vh + 3rem);
    font-size: 3rem;
  }
}


@media only screen and (min-width : 960px) {
  .cover h1 {
    font-size: 8rem;
    position: absolute;
    top: calc(50vh - 8rem);
    letter-spacing: .9rem;
  }

  .cover div.tagline {
    //top: calc(50vh + 3rem);
    font-size: 3rem;
  }
}
