@import 'main.scss';

@keyframes LinearEffect {
  0% {
      background-position: 0% 50%
  }
  25% {
      background-position: 100% 50%
  }
  50% {
      background-position: 0% 50%
  }
  100% {
      background-position: 100% 50%
  }
}

.cover {
  background: linear-gradient(to top left, #222 25%, #777 50%, #222 75%, #777 100%);
  background-size: 6000% 6000%;
  height: 100%;

  animation: LinearEffect 60s;
  animation-iteration-count: infinite;
  position: relative;
}

.cover h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  top: calc(50vh - 2rem);
  position: absolute;
  right: 0;
  left: 0;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.cover div.tagline {
  //position: absolute;
  font-size: 1rem;
  //top: calc(50vh + 1rem);
  //right: 0;
  //left: 0;
  text-align: center;
  color: #fff;
  letter-spacing: .2rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-device-width : 0) and (orientation : landscape) {
  .cover h1 {
    font-size: 4rem;
    top: calc(50vh - 4rem);
  }

  .cover div.tagline {
    font-size: 2rem;
    top: calc(50vh + 2rem);
  }
}

.cover div.more {
  position: absolute;
  bottom: 18px;
  right: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 5rem;
  letter-spacing: .2rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.cover .more a,
.cover .more a:link,
.cover .more a:visited{
  color: #fff;
}

main {
  margin: 0 auto;
}


#About img{
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
}

@media only screen and (min-width : 600px) {
  .cover h1 {
    font-size: 3rem;
    position: absolute;
    top: calc(50vh - 3rem);
    letter-spacing: .9rem;
  }

  .cover div.tagline {
    top: calc(50vh + 3rem);
    font-size: 3rem;
  }
}


@media only screen and (min-width : 960px) {
  .cover h1 {
    font-size: 8rem;
    position: absolute;
    top: calc(50vh - 8rem);
    letter-spacing: .9rem;
  }

  .cover div.tagline {
    //top: calc(50vh + 3rem);
    font-size: 3rem;
  }
}
