@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
  font-family: 'open_sans_condensedlight', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

button#ShowMainNav
{
  display: block;
  margin: 0;
  padding: 0 1rem;
  float: right;
  line-height: 54px;
  background: transparent;
  border: none;
}

button#ShowMainNav i
{
  line-height: 54px;
}

nav#MainNav {
  color: #fff;
  background: rgba( 30, 30, 30, .5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

nav#MainNav ul
{
  float: none;
  display: none;
  background: rgba( 30, 30, 30, .8);
  margin: 0;
  padding: 0;
}

nav#MainNav ul li{
  display: inline;
}

nav#MainNav a,
nav#MainNav a:link,
nav#MainNav a:visited,
nav#MainNav ul li a,
nav#MainNav ul li a:link,
nav#MainNav ul li a:visited,
{
  display: inline-block;
  line-height: 54px;
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}

nav#MainNav ul li a,
nav#MainNav ul li a:link,
nav#MainNav ul li a:visited,
{
  display: block;
}

nav#MainNav ul li a:hover{
  background: red;
}

nav#MainNav ul li a:hover
{
  background: #777;
}

nav#MainNav ul li a:active
{
  background: #fff;
  color: #222;
}

#showMainNav{
  color: #fff;
}

main {
  width: 960px;
  max-width: 90%;
  margin: 60px auto 0;
  font-size: 1.2rem;
  min-height: 2000px;
}

pre {
  font-family: 'source_code_proregular', monospace;
  font-size: 1.4rem;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

p code{
  font-family: monospace;
  font-size: 0.8em;
  color: #98c379;
  display: inline-block;
  padding: .2em .5em;
  background: #282c34;
}

.article a,
.article a:link,
.article a:visited{
  text-decoration: none;
}

.article a div{
  color: #000;
}


.hide {
  display: none;
}

.bio{}

.bio img{
  float: left;
  border-radius: 50%;
  margin: 0 1em 1em 0;
}

.bio h2{
  margin: 0;
  padding: 0;
  font-size: 1em;
}

#SocialMedia {
  @include clearfix;
  padding: 8rem 0 0;
}

#SocialMedia a,
#SocialMedia a:link,
#SocialMedia a:visited {
  width: 33.33333%;
  float: left;
  display: block;
  text-align: center;
  color: #ccc;
  font-size: 3rem;
}

footer {
  @include clearfix;
  padding: 8rem 0 2rem;
  text-align: center;
  font-size: 1.5rem;
}

footer .left{
  display: block;
  text-align: center;
}

footer .right{
  display: block;
  text-align: center;
}

footer a,
footer a:link,
footer a:visited {
  display: block;
  font-size: 1.5rem;
  padding: 1em 0;
}

footer .left .fa.fa-heart{
  color: #e75225;
  margin-left: .4em;
  margin-right: .4em;
}

.alert {
  border-radius: 4px;
  background: rgba(30,30,30,.5);
  border: 1px solid rgba(30,30,30,.5);
  color: #fff;
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: center;
}

$form-font-size: 1.2rem;
$form-element-padding: .9rem;

form > div {
  margin-bottom: 2rem;
}

input[type="text"],
input[type="email"],
textarea,
select,
option,
label{
  width: 100%;
  font-family: 'source_code_proregular', monospace;
  display: block;
  font-size: $form-font-size;
  padding: $form-element-padding;
}

label{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: $form-element-padding 0;
}

input[type="submit"]{
  font-family: 'source_code_proregular', monospace;
  background: none;
  -webkit-appearance: button;
  font-size: $form-font-size;
  padding: $form-element-padding;
  font-weight: bold;
}

input[type="submit"]:hover{
  background: #eee;
}

@media (min-width : 768px) {
  main {
    font-size: 2em;
  }

  small {
    font-size: .5em;
  }

  footer .left{
    float: left;
    width: 50%;
    text-align: left;
  }
  
  footer .right{
    float: right;
    width: 50%;
    text-align: right;
  }

  footer .right a{
    display: inline-block;
    padding: 0 0 0 2em;
  }
  
}

@media only screen and (min-width : 960px){

  button#ShowMainNav
  {
    display: none;
  }

  nav#MainNav  ul {
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    float: right;
    display: block;
    background: transparent;
  }

  nav#MainNav ul li a,
  nav#MainNav ul li a:link,
  nav#MainNav ul li a:visited,
  {
    display: inline-block;
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
}